<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détail patient</title>
    <meta charset="UTF-8">
</head>

<div class th:replace="~{layout}"></div>
<div class="d-flex justify-content-between align-items-top m-3">
<div class="w-50">
<div class="card text-white bg-primary m-3  ">
    <h2 class="card-header">Détail du patient</h2>
    <div class="card-body">
    <p><strong>ID :</strong> <span th:text="${patient.id}"></span></p>
    <p><strong>Prénom :</strong> <span th:text="${patient.firstName}"></span></p>
    <p><strong>Nom :</strong> <span th:text="${patient.lastName}"></span></p>
    <p><strong>Date de naissance :</strong> <span th:text="${patient.dateOfBirth}"></span></p>
    <p><strong>Genre :</strong> <span th:text="${patient.gender}"></span></p>
    <p><strong>Adresse :</strong> <span th:text="${patient.address} ?: 'Non renseigné'"></span></p>
    <p><strong>Numéro de téléphone :</strong> <span th:text="${patient.phoneNumber} ?: 'Non renseigné'"></span></p>
    </div>
</div>

<div class="d-flex justify-content-start m-3 gap-2">
<a class="btn btn-warning btn-sm" th:href="@{'/patients/edit/id/' + ${patient.id}}">Modifier</a>

<a  class="btn btn-info btn-sm" href="/patients">Retour à la liste</a>
</div>
    </div>
    <div class="w-50">
    <div class="card text-white bg-secondary m-3">
        <h2 class="card-header">Historique</h2>

        <div class="card-body" th:if="${#lists.isEmpty(notes)}">
            <p>Aucune note</p>
        </div>

        <ul class="card-body">
            <li th:each="note : ${notes}">
                <strong th:text="${#temporals.format(note.createdAt, 'dd/MM/yyyy HH:mm')}"></strong> :
                <span th:text="${note.note}"></span>
            </li>
        </ul>

    </div>

    <div class="d-flex justify-content-start m-3 gap-2">
        <a class="btn btn-success btn-sm" th:href="@{/patients/notes/id/{id}(id=${patient.id})}">Ajouter une note</a>
    </div>
    </div>
</div>





    <div class="d-flex justify-content-between align-items-top m-3">
    <div class ="card text-white bg-danger m-3 w-50">
        <h2 class="card-header">Évaluation</h2>
        <div class="card-body">
            <p th:if="${evaluation == null}">Aucune évaluation</p>
            <p th:if="${evaluation != null}">
                <strong>Risque :</strong> <span th:text="${evaluation.riskLevel.description}"></span>
        </div>

    </div>
        <div class="w-50"></div>
    </div>





</html>